:root {
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --primary-green: #009222;
  --primary-yellow: #ffC10C;
  
  --second-yellow: #ffE600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 12px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
